<section class="start-window workspace">
    <div class="start-window__headline">
        <p class="text">
            Ваша идеальная собака
        </p>
    </div>
    
    <div class="start-window__start-button">
        <div class="button start" routerLink="/main-menu">
            <p class="button-text">
                Запуск!
            </p>
        </div>
    </div>

    <div class="start-window__info">
        <p class="start-window__info-version text">
            Пре-альфа версия
        </p>

        <p class="start-window__info-author text">
            Алексанов Роман
        </p>
    </div>
</section>