:host {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85vh;
}

.start-window {
    background: url('/src/assets/images/start-window-back.jpg');
    background-size: cover;

    &__headline {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

    &__start-button {
        display: flex;
        justify-content: center;

        .start {
            padding: 15px 110px;
            font-size: 45px;
            font-weight: 300;
        }
    }

    &__info { 
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }
}