<section [class]="'start-window ' + colorClasses.workspace" [showContent]="isContentLoaded">
    <div class="dogs">
        <img src="/src/assets/images/dogs/1.png" class="dog yellow" (load)="dogLoaded()">
        <img src="/src/assets/images/dogs/2.png" class="dog grey" (load)="dogLoaded()">
        <img src="/src/assets/images/dogs/3.png" class="dog yellow-2" (load)="dogLoaded()">
    </div>

    <div class="start-window__headline">
        <p [class]="colorClasses.text">
            Ваша идеальная собака
        </p>
    </div>
    
    <div class="start-window__start-button">
        <div [class]="colorClasses.button + ' start'" routerLink="/main-menu" (click)="startLoading()">
            <p class="button-text">
                Запуск!
            </p>
        </div>
    </div>

    <div class="start-window__info">
        <p [class]="colorClasses.text">
            Пре-альфа версия
        </p>

        <p [class]="colorClasses.text">
            Алексанов Роман
        </p>
    </div>
</section>