<div *ngIf="isBreedInfoShown" class="backdrop" (click)="hideBreedInfo()"></div>
<breed-info *ngIf="isBreedInfoShown" 
            [breed]="selectedBreed.breed"
            (favoriteStatusChange)="recountFavorites($event)"
            (closeModal)="hideBreedInfo()"></breed-info>

<section *ngIf="!isBreedInfoShown" [class]="'favorite-breeds ' + colorClasses.workspace" [showContent]="isContentLoaded">
    <back-button (click)="startLoading()"></back-button>

    <div class="favorite-breeds__headline">
        <p [class]="colorClasses.text">
            Избранное
        </p>
    </div>

    <div [class]="'favorite-breeds__content styled-scroll ' + colorClasses.color">
        <div *ngIf="isEmptyList"class="empty">Список пуст.</div>
        <div *ngFor="let info of ( favoriteBreeds | async )" class="card" cardHover (click)="showBreedInfo(info)">
            <div class="card__header"> {{info.breed.name}} </div>

            <div class="card__photo">
                <img [src]="info.breed.image" imageLoaded>
            </div>
        </div>
    </div>
</section>