<div *ngIf="isBreedInfoShown" class="backdrop" (click)="hideBreedInfo()"></div>
<breed-info *ngIf="isBreedInfoShown" [breed]="selectedBreed" (closeModal)="hideBreedInfo()"></breed-info>

<section *ngIf="!isBreedInfoShown" [class]="'favorite-breeds ' + colorClasses.workspace" [showContent]="isContentLoaded">
    <back-button (click)="startLoading()"></back-button>

    <div class="favorite-breeds__headline">
        <p [class]="colorClasses.text">
            Избранное
        </p>
    </div>

    <div [class]="'favorite-breeds__content styled-scroll ' + colorClasses.color">
        <div *ngFor="let breed of favoriteBreeds" class="card" cardHover (click)="showBreedInfo(breed)">
            <div class="card__header"> {{breed.name}} </div>

            <div class="card__photo">
                <img [src]="breed.image" imageLoaded>
            </div>
        </div>
    </div>
</section>