:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.results-table {
    align-items: center;
    background-color: #ffffff;

    &__headline {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 100;
    }

    &__table {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 15px;
        width: 95%;
        max-height: 70vh;
        padding: 15px;
        background-color: #eeeeee;
        border-width: 6px;
        border-style: solid;
        border-radius: 15px;
        font-weight: 300;
        overflow-y: scroll;
    
        .table__header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 22px;
            text-align: left;
        }

        .table__row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 15px;
            font-size: 18px;
            text-align: left;
        }

        .breeds, .answers, .test-time, .date, .rating {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 5px 15px 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            text-align: center;
            word-break: break-all;
            white-space: normal;
        }

        .breeds { 
            width: 40%;

            img {
                width: 19%;
                margin: 0px 2px;
            }
        }
        .answers { width: 18%; }
        .test-time { width: 20%; }
        .date { width: 12% }
        .rating { width: 10%; }
    }

    .broken-server {
        min-height: 70vh;
    }
}