<div class="backdrop" (click)="emitModalClose()"></div>

<div class="breed-info">
    <div class="breed-info__modal styled-scroll">
        <img class="icon close" src="/src/assets/images/icons/close.svg" title="Закрыть" (click)="emitModalClose()">
        <img *ngIf="isFavoriteImageLoaded" 
             class="icon heart" 
             [src]="favoriteImage" 
             title="Добавить в избранное" 
             (click)="toggleFavoriteStatus()">
        
        <div class="breed-info__headline">
            {{ breed.name }}
        </div>
    
        <img [src]="breed.image" class="breed-info__image">

        <div class="breed-info__specifications">
            <div class="specification">
                <h3>Цена: {{ breed.cost }}$</h3>
                <h3>Страна: {{ breed.country }}</h3>
            </div>
        </div>
    
        <div *ngIf="isDescriptionLoaded" class="breed-info__description">
            <div class="point">
                <h2>История</h2>
                <p>{{ breedDescription.history }}</p>
            </div>

            <div class="point">
                <h2>Описание</h2>
                <p>{{ breedDescription.description }}</p>
            </div>

            <div class="point">
                <h2>Личность</h2>
                <p>{{ breedDescription.personality }}</p>
            </div>

            <div class="point">
                <h2>Обучение</h2>
                <p>{{ breedDescription.study }}</p>
            </div>

            <div class="point">
                <h2>Стрижка</h2>
                <p>{{ breedDescription.haircut }}</p>
            </div>

            <div class="point">
                <h2>Уход</h2>
                <p>{{ breedDescription.care }}</p>
            </div>

            <div class="point">
                <h2>Полезность</h2>
                <p>{{ breedDescription.utility }}</p>
            </div>

            <div *ngIf="breed.images" class="point photos">
                <h2>Другие фото:</h2>
                <img *ngFor="let image of breed.images" [src]="image">
            </div>
        </div>
    </div>
</div>