$white: #ffffff;
$red-background: rgba(205, 53, 53, .8);

:host {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dogs {
    .brown {
        top: 60px;
        left: calc(50% - 90px);
    }
}

.page-not-found {
    position: relative;
    background-color: $white;

    &__error-404 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 195px;
        font-size: 40px;
        font-weight: 100;
    }

    &__description {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 100;
    }
}