<section [class]="'page-not-found ' + colorClasses.workspace" [showContent]="isContentLoaded">
    <back-button (click)="startLoading()"></back-button>

    <div class="dogs">
        <img src="/src/assets/images/dogs/4.png" class="dog brown" (load)="dogLoaded()">
    </div>

    <div class="page-not-found__error-404">
        Ошибка 404
    </div>

    <div class="page-not-found__description">
        <p [class]="colorClasses.text">
            Страница не найдена.
        </p>
    </div>
</section>