<section class="main-menu workspace" *ngIf="isContentLoaded">
    <div class="main-menu__headline">
        <p class="text">Главное меню</p>
    </div>

    <div class="main-menu__main-buttons">
        <ng-container *ngFor="let button of mainButtons">
            <div [routerLink]="button.route" 
                 class="button menu-button"
                 (click)="startLoading()">
                <p class="button-text">{{ button.name }}</p>
            </div>
        </ng-container>
    </div>

    <div class="main-menu__other-features">
        <ng-container *ngFor="let button of otherButtons">
            <div [routerLink]="button.route"
                 class="button other-features-button"
                 (click)="startLoading()">
                <p class="button-text">{{ button.name }}</p>
            </div>
        </ng-container>
    </div>
</section>

