<section [class]="'main-menu ' + colorClasses.workspace" *ngIf="isContentLoaded">
    <back></back>

    <div class="main-menu__headline">
        <p [class]="colorClasses.text">Главное меню</p>
    </div>

    <div class="main-menu__main-buttons">
        <ng-container *ngFor="let button of mainButtons">
            <div [routerLink]="button.route" 
                 [class]="colorClasses.button + ' menu-button'"
                 (click)="startLoading()">
                <p class="button-text">{{ button.name }}</p>
            </div>
        </ng-container>
    </div>

    <div class="main-menu__other-features">
        <ng-container *ngFor="let button of otherButtons">
            <div [routerLink]="button.route"
                 [class]="colorClasses.button + ' other-features-button'"
                 (click)="startLoading()">
                <p class="button-text">{{ button.name }}</p>
            </div>
        </ng-container>
    </div>
</section>

