<alert></alert>
<breed-info *ngIf="isBreedInfoShown" [breed]="selectedBreed" (closeModal)="hideBreedInfo()"></breed-info>

<section [class]="'breeds-list ' + colorClasses.workspace" [showContent]="isContentLoaded">
    <back-button (click)="startLoading()"></back-button>

    <div class="breeds-list__headline">
        <p [class]="colorClasses.text">
            Список возможных пород
        </p>
    </div>

    <div [class]="'breeds-list__content styled-scroll ' + colorClasses.color">
        <div *ngIf="isServerBroken" class="server-broken">
            Сервер недоступен.
        </div>

        <div *ngFor="let breed of breedsList" class="card" cardHover 
             (mouseenter)="setSelectedBreed(breed)" 
             (click)="showBreedInfo(breed)">
            <div class="card__header"> {{breed.name}} </div>

            <div class="card__photo">
                <img [src]="breed.image" imageLoaded>
            </div>
        </div>
    </div>
</section>