<section [class]="'test ' + colorClasses.workspace" [showContent]="isContentLoaded">
    <back-button></back-button>

    <div class="test__headline">
        <p [class]="colorClasses.text">
            Вопрос {{currentQuestion.id}}
        </p>
    </div>

    <div class="test__content">
        <div class="test__text">
            <p [class]="colorClasses.text">
                {{currentQuestion.text}}
            </p>
        </div>

        <div class="test__answers">
            <div *ngFor="let answer of currentQuestion.answers" [class]="'answer ' + colorClasses.button">
                <p class="button-text">
                    {{answer}}
                </p>
            </div>
        </div>

        <div [class]="'test__next-question-button ' + colorClasses.button" (click)="nextQuestion()">
            <p class="button-text">
                Следующий вопрос
            </p>
        </div>
    </div>
</section>