<alert></alert>

<section [class]="'test ' + colorClasses.workspace" [showContent]="isContentLoaded">
    <back-button></back-button>

    <navigation [questions]="questions" (changeQuestion)="changeQuestion($event)"></navigation>

    <div class="test__headline">
        <p [class]="colorClasses.text">
            Вопрос {{currentQuestion.id}}
        </p>
    </div>

    <div class="test__content">
        <div class="test__text">
            <p [class]="colorClasses.text">
                {{currentQuestion.text}}
            </p>
        </div>

        <div class="test__answers">            
            <div *ngFor="let answer of currentQuestion.answers; let i = index;" 
                 [class]="'answer ' + colorClasses.button"
                 [class.chosen]="addClass(i)"
                 (click)="setChosenAnswer(i)">
                <p class="button-text">
                    {{answer}}
                </p>
            </div>
        </div>

        <div class="test__comment">
            {{ currentQuestion?.comment }}
        </div>

        <div class="test__nav-buttons">
            <div *ngIf="!isFirstQuestion" 
                 [class]="'test__prev-question-button ' + colorClasses.button" 
                 (click)="prevQuestion()">
                <img src="/src/assets/images/icons/navigate.png">
                <p class="button-text">
                    Назад
                </p>
            </div>

            <div *ngIf="!isLastQuestion" 
                 [class]="'test__next-question-button ' + colorClasses.button" 
                 (click)="nextQuestion()">
                <p class="button-text">
                    Вперед
                </p>
                <img src="/src/assets/images/icons/navigate.png">
            </div>

            <div *ngIf="isLastQuestion" 
                 [class]="'test__ready-question-button ' + colorClasses.button"
                 [class.disabled]="isReadyDisbled"
                 (click)="finishTest()">
                <p class="button-text">
                    Готово!
                </p>
            </div>
        </div>
    </div>
</section>