span {
    cursor: pointer;
    display: inline-block;
    width: 45px;
    margin: 0px;
    line-height: 45px;
    text-align: center;

    img {
        width: 60%;
    }
}

span::selection {
    background-color: transparent;
}