@import './assets/scss/colors';
@import './assets/scss/buttons';
@import './assets/scss/other';
@import './assets/scss/spinners';

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .8);
}

a {
    text-decoration: none;
}

.button-red, .button-green,
.button-blue, .button-purple {
    outline: none;
}

p {
    margin: 0px;
    padding: 0px;
}

img::selection {
    background: transparent;
}

.dogs {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0px;
    padding: 0px;

    .dog {
        position: absolute;
    }
}
