@import './assets/scss/colors';
@import './assets/scss/buttons';
@import './assets/scss/other';
@import './assets/scss/spinners';

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: url('/src/assets/images/background.jpg');
    background-size: cover;
}

a {
    text-decoration: none;
}

.button {
    outline: none;
}

p {
    margin: 0px;
    padding: 0px;
}
